
body {
    background-color: #f0f0f0;
}

/* Navbar styling */
.navbarss {
    background-color: #007BFF; /* Navbar background color */
    color: white; /* Text color in the navbar */
    padding: 10px 0; /* Add some padding for better aesthetics */
}

/* Logo styling */
.company-logo img {
    max-width: 50px;
}

/* Company name styling */
.company-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px; /* Add some space between logo and company name */
}

/* Right section styling */
.right-section {
    margin-right: 10px; /* Add space to the right of the navbar */
}

/* Employee details in navbar */
.employee-details {
    font-size: 18px;
}

/* Content area styling */
.content {
    padding: 10px;
}
