<!DOCTYPE html>
{%load static%}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{%static 'employ.css'%}">
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
<style>


   
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.0);
  }
  
  .card-title {
    font-size: 1.5rem;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

</style>

</head>
<body>
  {% csrf_token %}
  <div class="navbar" style="background-color:#A1045A; height:100px">
    <div class="logo">
      <img src="{%static 'images/Prime Minds.png'%}"/> 
      <h3>Prime Minds</h3>
    </div>

    <div class="profile">
      <p>Hi,{{employ_detail.full_name}}</p>&nbsp;
    </div>
  </div>
  
  <div class="sidebar" style="background-color:#A1045A;">

    <a href="{% url 'employ' employ_detail.id %}">Home</a>
    
    <a href="{% url 'leave_request' employ_detail.id %}">Apply Leave</a>


    <a href="{% url 'leave_history' employ_detail.id  %}">Leave History</a>
  
 
    <a  href="{% url 'signout'%}">Logout</a>
  
  </div>
  
  <div class="content" style="display: flex;flex-wrap: wrap;justify-content: space-between;">
    <!-- Your dashboard content goes here -->
    <div class="card text-center m-3 bg-info" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Casual Leaves Taken</h5>
        <h2 class="card-text">{{employ_detail.total_casual_leave_days}}/24</h2>
      </div>
    </div>
 
  <div class="card text-center m-3 bg-success" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Sick Leaves Taken</h5>
      <h2 class="card-text">{{employ_detail.total_sick_leave_days}}</h2>
    </div>
  </div>

  <div class="card text-center m-3 bg-warning" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Emergency Leaves Taken</h5>
      <h2 class="card-text">{{employ_detail.total_emergency_leave_days}}</h2>
    </div>
  </div>  

  <div class="card text-center m-3 bg-secondary" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Total Leaves Taken</h5>
      <h2 class="card-text">{{employ_detail.total_leaves_taken}}</h2>
    </div>
  </div>

  <div class="card text-center m-3 bg-body-tertiary" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Remaining leave needs to be taken</h5>
      <h2 class="card-text">{{employ_detail.remaining_casual_leave}}</h2>
    </div>
  </div>

  <div class="card text-center m-3 bg-danger" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Total Casual Leaves Per Annuam</h5>
      <h2 class="card-text">24</h2>
    </div>
  </div>



</div>


  
  <form method="post">
    {% csrf_token %}
    <!-- Other form fields -->
    <input type="submit" value="Submit">
</form>

  
  <script src="{%static 'employ.js' %}"></script>
</body>
</html>
