{% extends 'register/baseadmin.html/' %}

{% block custom_nav %}
<span class="nav-item nav-link" style="color: #fff;">{{employ_details.full_name}}</span>

{% endblock %}


{% block a_nav %}
<a class="nav-link" style="color: #fff;" href="{% url 'arequest' employ_details.id %}">Approved Requests</a>

{% endblock %}


{% block p_nav %}

<a class="nav-link" style="color: #fff;" href="{% url 'prequest' employ_details.id %}">Pending Requests</a>
{% endblock %}

{% block h_nav %}
                <a class="nav-link" href="{% url 'admins' employ_details.id %}" style="color: #fff;" >Home <span class="sr-only">(current)</span></a>
    {% endblock %}


{% block content %}
  <div class='m-2'>
    
    <div class="card">
      <div class="card-header">
        <h3 class="card-title animated fadeIn" style="text-align: center; font-family:Cambria; font-weight: bold; color:red">Rejected Requests</h3>
      </div>
      <div class="card-body" style="overflow-y: scroll; max-height: 500px;">

    <table class="table table-hover table-bordered">
      <thead class="table-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Full name</th>
          <th scope="col">Leave Type</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col"> Duration </th>
          
          <th scope="col">Reason</th>
          <th scope="col">Status</th>
          <th scope="col"> Remarks </th>
          <th scope="col">Creation Date</th>
          <th scope="col">Updation Date</th>
        </tr>
      </thead>
      <tbody>
        {% if rejected_request %}
          {% for record in rejected_request %}
            <tr>
              <td>{{record.id}}</td>
              <td>{{record.full_name}}</td>
              <td>{{record.leave_type}}</td>
              <td>{{record.start_date}}</td>
              <td>{{record.end_date}}</td>
              <td>{{record.get_duration_in_days}} Days</td>
              <td>{{record.reason}}</td>
              <td>
                {% if record.status == "Rejected" %}
                  <span style="color:red; font-weight: bold;">{{ record.status }}</span>
                {% elif record.status == "Approved" %}
                  <span style="color:green; font-weight: bold;">{{ record.status }}</span>
                {% else %}
                  <span style="color:orange; font-weight: bold;">{{ record.status }}</span>
                {% endif %}
              </td>
              <td>{{record.remarks}}</td>
              <td>{{record.created_at}}</td>
              <td>{{record.updated_at}}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>

    </div>
    </div>
  </div>
{% endblock %}
